* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.login {
  margin: 15% 37%;
  background: rgb(247, 239, 239);
  padding: 4% 3%;
  display: flex;
  justify-content: center;
  border: solid;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.login h1 {
  border: solid;
  display: flex;
  justify-content: center;
  margin: auto auto 30px;
  max-width: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(117, 116, 116, 0.2);
}

.back-btn {
  color: black;
  text-decoration: none;
  border: solid rgb(59, 59, 59);
  border-radius: 30px;
  padding: 5px 10px;
}

.first {
  margin-bottom: 25px;
}
